html,
body,
h1,
h2,
h3,
p,
ol,
ul,
li,
a {
  padding: 0;
  boarder: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  width: 800px;
  margin: 40px auto;
  color: #C83636;
  background: rgba(200, 54, 54, 0.1);
}

header h1 {
  font-size: 32px;
  color: #C83636;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 60px 0 0;
  line-height: 1.5;
}

header p {
  font: 26px 'PT Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 0 20px;
  margin-bottom: 20px;
  border-bottom: 20px solid #C83636;
}

nav h1 {
  font: 24px 'PT Sans', sans-serif;
  color: #C83636;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.5;
}

a {
  color: #C83636;
  text-decoration: none;
}

a:hover {
  color: #C83636;
  text-decoration: underline;
}

main h1 {
  font-size: 32px;
  color: #C83636;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 60px 0 20px;
}

main h2 {
  font: 24px 'PT Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

main h3 {
  font: 20px 'PT Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

main h4 {
  font: 20px 'PT Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

main p {
  font: 20px 'PT Sans', sans-serif;
  font-style: italic;
  margin-bottom: 40px;
}

main h2,
h3 {
  display: inline;
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font: 20px 'PT Sans', sans-serif;
}

spanDate {
  float: left;
  width: 100%;
}

spanPro {
  float: right;
  width: 48%;
}
